.leaflet-touch .leaflet-control-layers-toggle, .leaflet-control-layers-toggle.leaflet-layerstree-named-toggle {
	width: 150px;
	background: white;
}

.img.logo{
  margin-right: 20px;
}

.tingle-modal {
    background: rgba(0, 0, 0, .75);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.modal-header {
  position: absolute;
  top: -2rem;
  left: -0rem;
  background: wheat;
 /* background: linear-gradient(150deg,wheat 80%,white 100%);*/
  padding-left: 1em;
  padding-right:  2em;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 1em;
}
.modal-header h1{
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.modal-content{
  position: relative;
  
}
